<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Access Statistics</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AccessStaticsNgGridCtrl">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Top 10 request URLs</h5>
            </div>
            <div class="ibox-content">
                <div class="gridStyle" ng-grid="ngOptions_topRequestURL"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Top 10 Cache Miss URLs</h5>
            </div>
            <div class="ibox-content">
                <div class="gridStyle" ng-grid="ngOptions_topCacheMissURL"></div>
            </div>
        </div>
    </div>
</div>

</div>
