<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
                <small>{{rand_num}}</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Cache Sever Performance At A Glance</h3>
                </div>
                <div class="ibox-content">
                    <div google-chart="Gauge" ng-model="dataModel.visual" trigger="activateChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>